<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body
    style="background: black; width: 100vw; flex-direction: column; height: 100vh; color: white;display:flex;flex:1;align-items: center; justify-content: center;">
    <h1>Welcome back, sign in! </h1>
    <form method="POST">

        <input type="email" name="email" value="" placeholder="Enter E-Mail" />
        <input type="password" name="password" value="" placeholder="Enter Password" />

        <button type="submit">Sign In</button>
    </form>
</body>

</html>